Protocol 2
Port 22

Compression no
RekeyLimit 1G 1H
StrictModes yes
TCPKeepAlive no
UseDNS no
LogLevel VERBOSE

Ciphers chacha20-poly1305@openssh.com
KexAlgorithms curve25519-sha256@libssh.org
MACs hmac-sha2-512-etm@openssh.com
HostKey /etc/ssh/ssh_host_ed25519_key

ChallengeResponseAuthentication no
PasswordAuthentication no
HostBasedAuthentication no
IgnoreUserKnownHosts yes
PubkeyAuthentication yes
PermitEmptyPasswords no
PermitRootLogin yes

ClientAliveCountMax 5
ClientAliveInterval 30

AllowGroups sshaccess
AuthorizedKeysFile /etc/ssh/authorized_keys/%u

LoginGraceTime 30
MaxSessions 5
MaxStartups 10

PrintLastlog yes
PrintMotd no

Subsystem sftp internal-sftp
